*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FBF7FF;
}


.nav-container{
    background: rgb(142,45,226);
    background: linear-gradient(90deg, rgba(142,45,226,1) 0%, rgba(75,0,224,0.91) 100%);
    color: #FFFF;
    padding: 20px 50px;
}

.nav-logo{font-size: 14pt;}

.nav-logo img{
    width: 45px;
    height: 43px;
    margin-right: 5px;
}

.nav-btn{width: 200px;}
.nav-btn a{
    color: #FFFF;
    text-decoration: none;
}

.btn-daftar{
    border: 0.5px solid #EFA117;
    padding: 8px 20px;
    border-radius: 3px;
}

.btn-login{
    background-color: #EFA117;
    padding: 8px 23px;
    border-radius: 3px;
    font-weight: 600;
}

.hero-title{
    color: #FFFF;
    padding: 15vh;
    height: 60vh;
    background-image: url('../img/bg_img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.book-container{
    padding: 80px 0;
}

.book-box{
    background-color: #FFFF;
    width: 65%;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 10px;
    padding: 30px 25px;
}

.book-control{
    width: 290px;
    margin-bottom: 50px;
}

.book-btn button{
    background: linear-gradient(90deg, rgba(142,45,226,1) 0%, rgba(75,0,224,0.91) 100%);
    border: none;
    color: #FFFF;
    padding: 10px;
}

.ben-container{padding: 100px 40px;}

.ben-img{
    width: 285px;
    height: 285px;
}

.card{
    width: 436px;
    border-radius: 10px;
}

.modal{
    background-color: rgba(0, 0, 0, 0.558);
    display: none;
    width: 100%; 
    height: 100%;
}


.modal-box{
    width: 75%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 10px 25px #0000003c;

}

.modal-left img{
    width: 650px;
    height: 550px;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 5px 0 0 5px;
}

.modal-right{
    background-color: #FFFF;
    padding: 40px 30px;
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.modal-right input[type=text], input[type=password], input[type=email], textarea{
    border: none;
    outline: none;
    margin-left: 10px;
}

.input{
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 20px;
}

.form-container{
    width: 45%;
    background-color: #FFFF;
    padding: 30px 25px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 10px 25px #9c9c9c3c;
    border-radius: 10px;
}

.form-content{margin-bottom: 20px;}

.form-btn{
    background-color: #8E2DE2;
    color: #FFFF;
    padding: 12px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14pt;
    box-shadow: 0px 10px 25px #7c7c7c3c;
}

.form-btn:hover{background-color: #6e1fb3;}

.input-va{
    width: 95%; 
    border: none; 
    padding: 10px;
}

.input-va:focus{outline: none;}